<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rentflees.rentflees"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
        </activity>
        <activity
            android:name=".UI.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.explore"
            android:parentActivityName=".UI.Navigation">
        </activity>
        <activity android:name=".UI.Explordetail"
                  android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".UI.explore">
        </activity>
        <activity android:name=".UI.Set_location">
        </activity>
    </application>

</manifest>